{% set _route = app.request.attributes.get('_route') %}

<div class="" style="margin-top: 150px;">.</div>
<footer class="max-w-sm mx-auto fixed-bottom">
    <ul class=" navbar bg-body-tertiary nav nav-fill fsize-12 app-bottom-nav">
        <li class="nav-item">
            <a href="{{ path('app_accueil') }}"
               class="nav-link {% if _route starts with 'app_accueil' or _route starts with 'app_accueil' %} active {% endif%} d-flex flex-column justify-content-center align-items-center"
            >
                <i class="bi bi-house-fill fs-5"></i>
                <span>Accueil</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="{{ path('app_activite_index') }}"
               class="nav-link {% if _route starts with 'app_activite_' or _route starts with 'app_activite_' %} active {% endif%} d-flex flex-column justify-content-center align-items-center"
            >
                <i class="bi bi-calendar2-event-fill fs-5"></i>
                Activités
            </a>
        </li>
        <li class="nav-item">
            <a href="communaute.html" class="nav-link d-flex flex-column justify-content-center align-items-center">
                <i class="bi bi-people-fill fs-5"></i>
                Communauté
            </a>
        </li>
        <li class="nav-item">
            <a href="plus.html" class="nav-link d-flex flex-column justify-content-center align-items-center">
                <i class="bi bi-three-dots fs-5"></i>
                Plus
            </a>
        </li>
    </ul>

</footer>

