{% extends 'base.html.twig' %}

    {% block turbo_frame %}
        <turbo-frame id="inscription-frame">
            {% block body %}
                <header class="max-w-sm mx-auto px-2 py-3 sticky-top">
                    <div class="row">
                        <div class="col-3">
                            <a href="{{ path('app_inscription_choixregion') }}" class="retour" data-turbo="false">
                                <i class="bi bi-arrow-left fs-5"></i>
                            </a>
                        </div>
                        <div class="col-9">
                            <h5 class="fs-4">Inscription</h5>
                        </div>
                    </div>
                </header>

                <main class="vh-100 px-4 max-w-sm mx-auto">
                    <form action="{{ path('app_inscription_civile') }}"
                          data-turbo-frame="inscription-frame"
                          data-controller="inscription"
                          data-action="turbo:submit-start->inscription#submit"
                          method="post"
                    >
                        <h5 class="fs-5 mt-5 text-center text-color-main">Etape 1/2: Information civile</h5>

                        <div class="position-relative form-floating mt-5">
                            <input type="text"
                                   class="form-control rounded-start-pill rounded-end-pill input-style  ps-5"
                                   id="inscriptionNom"
                                   placeholder="Nom de famille"
                                   name="_inscription_nom"
                                   autocomplete="off"
                                   required
                            >
                            <label for="inscriptionNom" class="ms-3">Nom de famille</label>
                            <i
                                class="bi bi-person-badge position-absolute top-50 start-0 translate-middle-y text-secondary fs-5 ms-1 me-5"></i>
                        </div>

                        <div class="position-relative form-floating mt-3">
                            <input type="text"
                                   class="form-control rounded-start-pill rounded-end-pill input-style  ps-5"
                                   id="inscriptionPrenom"
                                   placeholder="Prenoms"
                                   name="_inscription_prenom"
                                   autocomplete="off"
                                   required
                            >
                            <label for="inscriptionPrenom" class="ms-3">Prenoms</label>
                            <i
                                class="bi bi-person-badge-fill position-absolute top-50 start-0 translate-middle-y text-secondary fs-5 ms-1 me-5"></i>
                        </div>

                        <div class="position-relative form-floating mt-3">
                            <select name="_inscription_sexe"
                                    id="inscriptionSexe"
                                    class="form-select rounded-start-pill rounded-end-pill input-style  ps-5"
                                    required
                            >
                                <option value="" disabled selected>-- Sexe --</option>
                                <option value="HOMME">Homme</option>
                                <option value="FEMME">Femme</option>
                            </select>
                            <label for="inscriptionSexe" class="ms-3">Sexe</label>
                            <i
                                class="bi bi-people-fill position-absolute top-50 start-0 translate-middle-y text-secondary fs-5 ms-1 me-5"></i>
                        </div>

                        <div class="position-relative form-floating mt-3">
                            <input type="date"
                                   class="form-control rounded-start-pill rounded-end-pill input-style  ps-5"
                                   id="inscriptionDate"
                                   placeholder="Date de naissance"
                                   name="_inscription_datenaissance"
                                   autocomplete="off"
                                   required
                            >
                            <label for="inscriptionDate" class="ms-3">Date de naissance</label>
                            <i
                                class="bi bi-calendar-event position-absolute top-50 start-0 translate-middle-y text-secondary fs-5 ms-1 me-5"></i>
                        </div>

                        <div class="position-relative form-floating mt-3">
                            <input type="tel"
                                   class="form-control rounded-start-pill rounded-end-pill input-style  ps-5"
                                   id="inscriptionPhone"
                                   placeholder="Telephone"
                                   maxlength="10"
                                   value="{{ phone }}"
                                   readonly
                                   name="_inscription_phone"
                            >
                            <label for="inscriptionPhone" class="ms-3">Telephone</label>
                            <i
                                class="bi bi-phone position-absolute top-50 start-0 translate-middle-y text-secondary fs-5 ms-1 me-5"></i>
                        </div>

                        <div class="position-relative form-floating mt-3">
                            <select
                                    id="inscriptionParent"
                                    class="form-select rounded-start-pill rounded-end-pill input-style  ps-5"
                                    name="_inscription_phoneparent"
                                    required
                            >
                                <option value="" disabled selected>Ce téléphone est-il celui d'un parent scout? </option>
                                <option value="OUI">Oui</option>
                                <option value="NON">Non</option>
                            </select>
                            <label for="inscriptionParent" class="ms-3">Est-ce pour un parent?</label>
                            <i
                                class="bi bi-telephone-inbound-fill position-absolute top-50 start-0 translate-middle-y text-secondary fs-5 ms-1 me-5"></i>
                        </div>

                        <div class="position-relative form-floating mt-3">
                            <input type="email"
                                   class="form-control rounded-start-pill rounded-end-pill input-style  ps-5"
                                   id="inscriptionEmail"
                                   placeholder="Adresse email"
                                   autocomplete="off"
                                   name="_inscription_email"
                            >
                            <label for="inscriptionEmail" class="ms-3">Adresse Email</label>
                            <i
                                class="bi bi-envelope position-absolute top-50 start-0 translate-middle-y text-secondary fs-5 ms-1 me-5"></i>
                        </div>

                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('_civil_token') }}">

                        <div class="d-grid gap-2 mt-5">
                            <button type="submit" class="btn btn-main btn-lg">Suivant</button>
                        </div>

                    </form>
                </main>

        {% endblock %}
        </turbo-frame>
    {% endblock %}



