@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

:root{
    --color-blue-main: #006dbb;
    --color-blue-dark: #000570;
    --bg-region: rgba(54, 116, 216, 0.7);
    --bg-champs: rgba(0, 109, 187, 0.212);
}

body {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    transition: opacity 0.3s ease-in-out;
    opacity:1;
}

header{
    background: #f6f9fc;
}

.max-w-sm{
    max-width: 384px;
}

.bg-blue-dark{
    background-color: var(--color-blue-dark);
}

.bg-blue-main{
    background-color: var(--color-blue-main);
}

.bg-region{
    background: var(--bg-region);
    color: white;
}

.btn-main {
    background: var(--color-blue-main);
    cursor: pointer;
    color: white;
}

.btn-main:hover {
    background: var(--color-blue-dark);
    color: white;
}

.text-color-main{
    color: var(--color-blue-main);
}

.text-color-dark{
    color: var(--color-blue-dark);
}

.splash_icon{
    animation: bounce 2s ease-in-out infinite;
}

.input-style::placeholder{
    opacity: .6;
    width: 80%;
    font-size: 14px;
    font-style: italic;
}
.fsize-16{
    font-size: 16px;
}
.fsize-15{
    font-size: 15px;
}
.fsize-14{
    font-size: 14px;
}
.fsize-13{
    font-size: 13px;
}
.fsize-12 {
    font-size: 12px;
}

.border-main{
    border: solid 2px var(--color-blue-main);
}

.bouton-ajout{
    width: 60px;
    height: 60px;
    background-color: var(--color-blue-main);
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-weight: 700;
    font-size: 1.5rem;
}

.bouton-ajout:hover{
    background-color: var(--color-blue-dark);
}

.bottom-menu {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    /* toujours collé au bas */
    z-index: 1000;
    background-color: white;
    border-top: 1px solid #e5e7eb;
    padding-bottom: max(env(safe-area-inset-bottom, 0px), 12px);
    height: 100px;
}


.carousel img {
    width: 100%;
    height: 196px;
    object-fit: cover;
    object-position: center;
}

.bg-main-30{
    background-color: var(--bg-champs);
}

.qr-code{
    color: green;
    font-size: 2.5rem;
}

.app-bottom-nav {
    box-shadow: 0 -4px 6px -1px rgba(0, 0, 0, 0.05);
}

.btn-flottant {
    position: fixed;
    bottom: 90px;
    /* juste au-dessus du footer */
    right: 20px;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: var(--color-blue-main);
    z-index: 9999;
}

.fade-out{
    transition: opacity 0.3s ease-out;
    opacity:0 !important;
}

.fade-in{
    transition: opacity 0.3s ease-in;
    opacity:1 !important;
}

footer a.nav-link.active{
    color: var(--color-blue-main);
    transition: all 1000ms ease-in-out;
}

footer a.active i{
    background: var(--bg-champs);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transition: all 1000ms ease-in-out;
}

footer a.nav-link{
    color: rgb(92, 92, 92);
    text-decoration: none;
}

.transition{transition-property: all;}

.ease-in-out{transition-timing-function: ease-in-out;}
.ease-in{transition-timing-function: ease-in;}
.ease-out{transition-timing-function: ease-out;}
.linear{transition-timing-function: linear;}

.duration-150{transition-duration: 150ms;}
.duration-200{transition-duration: 200ms;}
.duration-250{transition-duration: 250ms;}
.duration-300{transition-duration: 300ms;}
.duration-500{transition-duration: 500ms;}
.duration-700 {
    transition-duration: 700ms;
}
.duration-1000 {
    transition-duration: 1000ms;
}

figure{
    position: relative;
    overflow: hidden;
}

figcaption{
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    bottom: 0;
    left: 0;
    color: white;
    display: flex;
    justify-content: content;
    align-items: start;
}

@keyframes bounce {
    0%{transform: scale(1.1);}
    50%{transform: scale(1);}
    100%{transform: scale(1.1);}
}
