@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
    --color-blue-main: #006DBB;
    --color-blue-dark: #000570;
}

body{
    font-family: "Inter", sans-serif;
}

.input-focus:focus {
    border-color: #3b82f6;
    box-shadow: 0 0 0 1px #3b82f6;
}

.color-blue-main {
    color: var(--color-blue-main);
}
.progress-bar-fill {
    height: 100%;
    border-radius: 0.25rem;
    background-color: theme('colors.blue.400');
}

/*.bottom-menu{*/
/*    position: fixed;*/
/*    bottom: env(safe-area-inset-bottom, 0);*/
/*    left: 0;*/
/*    right: 0;*/
/*    z-index: 1000;*/
/*    padding-bottom: env(safe-area-inset-bottom, 8px);*/
/*}*/

.bottom-menu {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0; /* toujours collé au bas */
    z-index: 1000;
    background-color: white;
    border-top: 1px solid #e5e7eb;
    padding-bottom: max(env(safe-area-inset-bottom, 0px), 12px);
    height: 100px;
}


.carousel-item {
    scroll-snap-align: start;
    width: calc(100% - 32px);
    margin-right: 16px;
}

.app-bottom-nav {
    box-shadow: 0 -4px 6px -1px rgba(0, 0, 0, 0.05);
}

.nav-item {
    @apply flex flex-col items-center justify-center p-2 text-gray-500 transition duration-300;
}

.nav-item.active {
    @apply text-blue-600;
}

.nav-icon {
    @apply w-6 h-6;
}

.nav-label {
    @apply text-xs mt-1 font-semibold;
}

.communaute-card {
    @apply flex items-center p-3 border-b border-gray-100 transition duration-150 hover:bg-gray-50;
}

.communaute-avatar {
    width: 48px;
    height: 48px;
}

.featured-carousel-item {
    scroll-snap-align: start;
    width: 85%;
    /* Plus petit que le carrousel de l'accueil pour en apercevoir un autre */
    height: 180px;
    margin-right: 16px;
    flex-shrink: 0;
    cursor: pointer;
    transition: transform 0.3s ease;
    /* Animation subtile au survol */
}

.featured-carousel-item:hover {
    transform: scale(1.02);
}

/* Style pour les cartes de la liste verticale */
.activity-list-item {
    transition: background-color 0.2s ease;
}

.activity-list-item:hover {
    background-color: theme('colors.gray.50');
}
