{% extends 'base.html.twig' %}
{% block turbo_frame %}
    <turbo-frame id="main-frame">

        {% block body %}
            <header class="max-w-sm mx-auto px-2 py-3 sticky-top">
                <div class="row pt-4">
                    <div class="col-3">

                        <a href="{{ path('app_activite_index') }}"
                           data-turbo-frame="_top"
                           class="retour"
                        >
                            <i class="bi bi-arrow-left fs-5"></i>
                        </a>
                    </div>
                    <div class="col-9">
                        <h5 class="fs-4">Activité</h5>
                    </div>
                </div>
            </header>

            <main class="max-w-sm mx-auto mt-3 mb-5" data-controller="header profil">
                <section class="form mt-5 px-4" data-controller="activite">

                </section>

            </main>
            <div class="" style="margin-top: 50px;">.</div>

        {% endblock %}

    </turbo-frame>
{% endblock %}
