<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}ScoutReady{% endblock %}</title>
        <script src="https://cdn.tailwindcss.com"></script>
        <link rel="icon" href="{{ absolute_url(asset('img/favico-bw.png')) }}">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body class="bg-white min-h-screen">
        {% block body %}{% endblock %}
    </body>
</html>
